<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="inventory_management.Properties.Settings.stockConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\stock.mdb;Persist Security Info=True;Jet OLEDB:Database Password=karaujiya5"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>